@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Primary colors */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
  /* Neutral colors */
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--Very-dark-blue-main-BG);
    font-family:  "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

main {
    background-color: var(--Very-dark-blue-card-BG);
    max-width: 350px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    display: grid;
}

.card-img-container {
    position: relative;
    height: 19em;
    width: 19em;
    background-image: url(images/image-equilibrium.jpg);
    background-size: cover;
    justify-self: center;
    border-radius: 10px;
}

.card-img-container::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(images/icon-view.svg), hsla(178, 100%, 50%, 0.5);
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center;   
    left: 0;
    top: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .8s all ease-in-out;
}

.card-img-container:hover:after{
    opacity: 1;
}

.text {
    color: var(--White);
    font-size: 16px;
    margin-top: 25px;
    margin-left: 5px;
    text-align: left;
    width: fit-content;
    transition: 0.5s;
}

.text:hover {
    color: var(--Cyan);
    cursor: pointer;
}

p {
    color: var(--Soft-blue);
    font-size: 16px;
    padding-top: 15px;
    margin-left: 5px;
    text-align: left;
    font-weight: 400; 
    letter-spacing: 1.5px;
}

.flex {
    padding: 20px 0;
    padding-bottom: 1px;
    display: flex;
    align-items: left;
    gap: 3rem;
}

.eth-clock {
    margin-left: 70px;
}

.eth-fig {
    color: var(--Cyan); 
}

.eth span {
    margin: 0 0 20px 5px;
}

.clock-text {
    color: var(--Soft-blue);
}

hr {
    margin-top: 15px;
    border-bottom: 0;
    color: var(--Soft-blue);
    border-style: double;
}

.profile{
    display: flex; 
    align-items: left;
    margin-top: 10px;

}

.photo {
    width: 12%;
    margin-top: 10px;
}
.profile-text {
    margin: 4px auto;
}

.profile-text span {
    color: var(--White);
}
.profile-text span:hover {
    color: var(--Cyan);
    cursor: pointer;
}

 @media (min-width:550px) and (max-width:800x) {
    .card {
        min-width: 20%;
        max-width: 30%;
        border-radius: 10px;
        padding-bottom: 5px;
    }
    .card-img {
        height: 15em;
        width: 15em;
    }
}

@media (max-width: 800px) {  
    .card-img {
        height: 15em;
        width: 15em;
        
    }
    .flex {
        padding: 20px 0;
        padding-bottom: 5px;
        display: flex;
        gap: 3.5rem;
    }
    .eth-fig {
        font-size: 14px;
    }
    .clock-text {
        font-size: 14px;
    }
    .photo {
    /* width: 12%;
    height: 12%; */
    margin-top: 5px;
    }
    .profile-text {
        font-size: 14px;
    } 
}